.container-confi {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     gap: 40px;

}

.confivelo {
background-color: cadetblue;
width: 500px;
display: flex;
justify-content: center;
}



.confivelo .typevelo {
display: flex;
justify-content: center;
align-items: center;
}

.typevelo {
margin: 18px 28px;
}
.selnormal {
    border: solid 2px black;
    background-color: rgb(99, 98, 96);
    height: 30px;
    width: 400px;
    color: white;
}

.produit2, .produit1, .type1, .type2 {
 background-color: rgb(99, 98, 96);
color: white;
}

.selGreen {
    border: solid 2px black;
    background-color: rgb(24, 233, 24);
    height: 30px;
     width: 400px;
    color: white;
    
}
.selGreen:hover {
    transform: scale(1.1) 3s;
    
}

