.container-toggle {
display: flex;
justify-content: space-around;
    align-items: center;
    flex-direction: column;
margin-top: 32px;
}

.container-toggle .toggle {
    gap: 10px

}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
box-shadow: 1px 2px 1px gray;
  transition: .4s;
border-radius: 50%;

}

input:checked + .slider {
  background-color: #3c4f5f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c4c6c787;
}

input:checked + .slider:before {
      transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10%;
}

.slider.round:before {
  border-radius: 50%;
}